body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville URW";
  src: url("fonts/baskerville-urw.woff2") format("woff2"),
    url("fonts/baskerville-urw.woff") format("woff");
  font-weight: normal; /* Adjust if different weights are used */
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", system-ui;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", system-ui;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", system-ui;
  font-weight: 500;
  font-style: italic;
}

.headLine {
  color: rgb(0, 0, 0);
  font-family: "Baskerville URW", serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: 27px;
}

.elementLine {
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 30px;
}
